<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjngic.terminal.mapper.TerminalMachineMapper">
    
    <resultMap type="TerminalMachine" id="TerminalMachineResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="password"    column="password"    />
        <result property="generatedKey"    column="generated_key"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTerminalMachineVo">
        select id, code, password, generated_key, description, status, create_time from terminal_machine
    </sql>

    <select id="selectTerminalMachineList" parameterType="TerminalMachine" resultMap="TerminalMachineResult">
        <include refid="selectTerminalMachineVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTerminalMachineById" parameterType="Long" resultMap="TerminalMachineResult">
        <include refid="selectTerminalMachineVo"/>
        where id = #{id}
    </select>

    <insert id="insertTerminalMachine" parameterType="TerminalMachine" useGeneratedKeys="true" keyProperty="id">
        insert into terminal_machine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="generatedKey != null">generated_key,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="generatedKey != null">#{generatedKey},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTerminalMachine" parameterType="TerminalMachine">
        update terminal_machine
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="generatedKey != null">generated_key = #{generatedKey},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTerminalMachineById" parameterType="Long">
        delete from terminal_machine where id = #{id}
    </delete>

    <delete id="deleteTerminalMachineByIds" parameterType="String">
        delete from terminal_machine where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>